<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/style5.css") }}">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/style2.css") }}">

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <div class="sidebar" >
    <div class="logo-details">
      <div class="logo_name"><img src="{{url_for('static', filename="img/systemlogo1.png")}}" height="80px" style=" margin-top: 50px;"></div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <br>
    <ul class="nav-list">
      <li>
        <a href="{{ url_for('daniw_dashboard') }}">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name" >Dashboard</span>
        </a>
         <span class="tooltip" >Dashboard</span>
      </li>
      <li>
       <a href="{{ url_for('daniw') }}">
         <i class='bx bx-book' ></i>
         <span class="links_name">Manage Violators</span>
       </a>
       <span class="tooltip">Manage Violators</span>
     </li>
      <li>
       <a href="{{ url_for('daniw_service') }}">
         <i class='bx bx-user' ></i>
         <span class="links_name">Community Service</span>
       </a>
       <span class="tooltip">Community Service</span>
     </li>
     <li>
       <a href="">
         <i class='bx bx-chart' ></i>
         <span class="links_name">Reports</span>
       </a>
       <span class="tooltip">Reports</span>
     </li>
     <li>
       <a href="{{ url_for('daniw_logs') }}">
         <i class='bx bx-folder' ></i>
         <span class="links_name">Logs</span>
       </a>
       <span class="tooltip">Logs</span>
     </li>
     <li>
       <a href="{{ url_for('daniw_archive') }}">
         <i class='bx bx-archive' ></i>
         <span class="links_name">Archive</span>
       </a>
       <span class="tooltip">Archive</span>
     </li>
     <li>
       <a href="{{ url_for('daniw_guidelines') }}">
         <i class='bx bx-help-circle' ></i>
         <span class="links_name">Guidelines</span>
       </a>
       <span class="tooltip">Guidelines</span>
     </li>
     <li>
       <a href="{{ url_for('login') }}">
         <i class='bx bx-exit' ></i>
         <span class="links_name">Logout</span>
       </a>
       <span class="tooltip">Logout</span>
     </li>
     
    </ul>
  </div>
  <section class="home-section">
<p style="background: #11101D; font-size: 20px; color: white;"> <label style="margin-left: 20px;">Edit Violators </label><label style="float: right; margin-right: 20px;"></label> 
      </p></br><br><br>
<div class="main" style="margin-left: 100px; margin-top: -20px;">
  

 <div class="add-form" style="border-radius: 30px; padding-top: 20px; margin-right: 200px;">
    <form class="px-4 py-3" method="POST">
      {% for message in get_flashed_messages() %}
            <div class="alert alert-success"><center>{{ message }}</center></div>
      {% endfor %}

    <!-- TEXTBOX -->
    <div class="form-group row">
    <label for="Name" class="col-sm-4 col-form-label">Last Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="last_name" placeholder="Enter Last Name" value="{{dvl['last_name']}}" maxlength="15" required style="text-transform: capitalize;">
    </div>
    </div>

    <div class="form-group row">
    <label for="Name" class="col-sm-4 col-form-label">First Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="first_name" placeholder="Enter First Name" value="{{dvl['first_name']}}" maxlength="15" required style="text-transform: capitalize;">
    </div>
    </div>

    <div class="form-group row">
    <label for="Name" class="col-sm-4 col-form-label">Middle Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="middle_name" placeholder="Enter Middle Name" value="{{dvl['middle_name']}}" maxlength="15" required style="text-transform: capitalize;">
    </div>
    </div>

    <div class="form-group row">
    <label for="Name" class="col-sm-4 col-form-label">House Number</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="house_number" placeholder="Enter House Number" value="{{dvl['house_number']}}" maxlength="15" required style="text-transform: capitalize;">
    </div>
    </div>

    <div class="form-group row">
    <label for="Name" class="col-sm-4 col-form-label">Street</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="street" placeholder="Enter Street" value="{{dvl['street']}}" maxlength="15" required style="text-transform: capitalize;">
    </div>
    </div>
    
  <!-- TEXTBOX -->
    <div class="form-group row">
    <label for="Name" class="col-sm-4 col-form-label">Contact</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="contact" placeholder="Enter Contact Number" value="{{dvl['contact']}}" onkeypress="return onlyNumberKey(event)" placeholder="Enter Contact" required>
    </div>
    </div>

    

    <!-- TEXTBOX -->
    <div class="form-group row">
    <label for="Name" class="col-sm-4 col-form-label">Violation</label>
    <div class="col-sm-8">
     <select name="violation" id="violation" class="form-control">
        {%for violations in violations%}
        <option value="{{violations['violation']}}">{{violations['violation']}}</option>
        {%endfor%}
      </select>
    </div>
    </div>

    

    <!-- TEXTBOX -->
    <div class="form-group row">
    <label for="Name" class="col-sm-4 col-form-label">Penalty</label>
    <div class="col-sm-8">
      <select name="penalty" id="penalty" class="form-control">
        {%for stat in stat%}
        <option value="{{stat['penalty']}}">{{stat['penalty']}}</option>
        {%endfor%}
      </select>
    </div>
    </div>

   

    <!-- TEXTBOX -->

    <!-- TEXTBOX -->
   

    

    <!-- BUTTON -->
    <br>
    <button style="margin-top: -30px;" type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i>Submit</button>
    <a href="{{url_for('daniw')}}" style="margin-top: -30px;" class="btn btn-primary btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
    </div>



</div>
   
</section>
  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
  <script>
    function onlyNumberKey(evt) {
          
        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
</script>
</body>
</html>
